/* Design Tokens - Lynn Port's Portfolio */
/* Color Tokens */
:root {
   --color-light-green-1: #e7fee8;
   --color-light-green-2: #cbf0ce;
   --color-light-green-3: #a4dba7;
   --color-light-green-4: #71bf76;
   --color-light-green-5: #57b45d;
   --color-light-green-6: #25972d;
   --color-light-green-7: #006507;
   --color-dark-green-1: #7b927d;
   --color-dark-green-2: #496d4c;
   --color-dark-green-3: #345036;
   --color-dark-green-4: #223d24;
   --color-dark-green-5: #204b23;
   --color-dark-green-6: #0f4813;
   --color-dark-green-7: #013604;
   --color-pink-1: #f8e3fa;
   --color-pink-2: #e1bee4;
   --color-pink-3: #D096D5;
   --color-pink-4: #b36cb9;
   --color-pink-5: #A551AD;
   --color-pink-6: #95329e;
   --color-pink-7: #7d0c87;
   --color-greyscale-1: #B7B6B6;
   --color-greyscale-2: #999999;
   --color-greyscale-3: #7D7C7C;
   --color-greyscale-4: #4D4C4C;
   --color-greyscale-5: #2A2A2A;
   --color-greyscale-6: #181818;
   --color-greyscale-7: #040404;
   --spacing-xs: 8px;
   --spacing-s: 16px;
   --spacing-m: 24px;
   --spacing-l: 32px;
   --spacing-xl: 40px;
   --spacing-xxl: 56px;
   --spacing-xxxl: 72px;
}
:root {
      --color-surface:var(--color-light-green-4);
  --color-text: var(--color-dark-green-4);
  --color-accent:var(--color-pink-4);
  --color-text-box:var(--color-greyscale-1);
}
/*Light mode*/
[data-theme= "light"]{
     --color-surface:var(--color-light-green-4);
  --color-text: var(--color-dark-green-4);
  --color-accent:var(--color-pink-4);
  --color-text-box:var(--color-greyscale-1);
}
/*Dark Mode*/
[data-theme="dark"] {
    --color-surface:var(--color-dark-green-4);
  --color-text: var(--color-light-green-4);
  --color-accent:var(--color-pink-4);
  --color-text-box:var(--color-greyscale-1);
}
/*Typography tokens*/
:root {
    /*font families and sizes*/
}
/*Spacing tokens*/
:root {
    /*spacing styles*/
}