/* Design Tokens - Lynn Port's Portfolio */
/* Color Tokens */
:root {
    /* Lightmode colors go here*/
}
/*Light mode*/
[data-theme= "light"]{
    /* same variables, different values*/
}
/*Dark Mode*/
[data-theme="dark"] {
    /*same variable names, different values*/
}
/*Typography tokens*/
:root {
    /*font families and sizes*/
}
/*Spacing tokens*/
:root {
    /*spacing styles*/
}